.cart-popup {
  position: fixed;
  top: 10%;
  right: 5%;
  width: 400px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;

  .cart-content {
    h2 {
        font-size: 18px;
      margin-bottom: 18px;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: 2px solid $secondaryColor;
      color: $primaryColor;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .cart-item {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
      align-items: center;
      justify-content: space-between;

      .cart-thumb {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }

      .cart-details {
       display: flex;
       align-items: center;
       gap: 10px;
       justify-content: space-between;

        h4 {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
        }

        p {
          margin: 5px 0;
        }

        .quantity {
          display: flex;
          align-items: center;
          gap: 5px;

          button {
            padding: 2px 8px;
          }
        }

        .remove {
          background: red;
          color: white;
          border: none;
          padding: 4px 8px;
          cursor: pointer;
          border-radius: 10px;
          font-size: 12px;
        }
      }
    }

    .cart-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      h3{
        font-size: 16px;
        color: $black;
      }

      .checkout-btn {
        background: green;
        color: white;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
      }

      .close-btn {
        background: gray;
        color: white;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 20px;
      }
    }
  }
}




@media (max-width: 576px) {
.cart-popup {
  top: 80px;
  right: 0% !important;
  left: 50%;
  transform: translate(-50%,0);
  width: 85vw;
 
  padding: 10px;

  .cart-content {
    h2 {
      margin-bottom: 10px;
      padding-bottom: 10px;
     
    }

  

    .cart-item {
      

      .cart-thumb {
        width: 40px;
        height: 40px;
      }

      .cart-details {
      


      

        .quantity {
          

          button {
            padding: 2px 4px;
          }
        }

        .remove {
          
          font-size: 10px;
        }
      }
    }

    .cart-footer {
    
      h3{
        font-size: 14px;
      }

      .checkout-btn {
       
        padding: 4px 10px;
       
      }

      .close-btn {
       
               padding: 4px 10px;

       
      }
    }
  }
}



}