// vairables --------------------------------

// font family ------

$primaryFont:'Arial', sans-serif;

// color ----


$primaryColor: #fbbf24;
$secondaryColor: #dcdf88;
$light-secondaryColor:#759c5d;
$white:#ffff;
$black:#000000;
$tcolor:#e5e7eb;